
.content{
    background: black;
    display:flex;
    background-size: cover;
}
.content div{
    margin: 2px;
    border-radius: 10px;
}
.header{
    text-align: center;
    height:10vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #be1b94, #901966, #61173f, #331220, #000000);
}
h4{
    color:white;
}
h1{
    color: white;
    float:left;
    position: relative;
    right: 300px;
}
input{
    width: 350px;
    border-radius: 30px;
    text-align: center;
}
.content-main{
    display:flex;
}
.main-left{
    width: 65vw;
    height: 40vh;
    background-image: linear-gradient(to right bottom, #b9b7b1, #898582, #5a5756, #2f2d2d, #000000);
}
.main-right{
    width:15vw;
    height:40vh;
    background-image: linear-gradient(to right bottom, #b9b7b1, #898582, #5a5756, #2f2d2d, #000000);
}
.content-cortinas{
    background: pink;
    width: 35vw;
    height:30vh;
}
.content-artisticas{
    width: 45vw;
    height:30vh;
    background: yellow;
}
.content-section{
    display:flex;
}
.footer{
    width: 80vw;
    height: 20vh;
    background: green;
}

.content-right{
    width: 20vw;
    height: 95vh;
    background: orange;
}